.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.active {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
    color: red;
}